@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf"); }
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

html {
  width: 100%;
  height: 100%;
  position: absolute; }

body {
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%; }
  body .body {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
    body .body .head {
      width: 100%;
      height: 47px;
      background: #0D0D0D;
      border-bottom: 5px solid #A51E23; }
      body .body .head h1 {
        line-height: 50px;
        color: #d6d6d6;
        font-size: 20px;
        margin-left: 25%; }
        body .body .head h1 a {
          color: inherit;
          text-decoration: inherit; }
      body .body .head ul {
        position: absolute;
        right: 25%;
        top: 0;
        color: white; }
        body .body .head ul li {
          float: left;
          list-style: none;
          width: 120px;
          line-height: 50px;
          font-size: 15px;
          text-align: center;
          -webkit-transition-duration: .2s;
          -moz-transition-duration: .2s;
          -ms-transition-duration: .2s;
          -o-transition-duration: .2s;
          transition-duration: .2s; }
          body .body .head ul li a {
            color: inherit;
            text-decoration: inherit;
            display: block;
            z-index: 100; }
          body .body .head ul li:hover {
            background: #A51E23;
            -webkit-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -ms-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s; }
    body .body .left {
      width: 250px;
      height: calc(100% - 55px);
      position: absolute;
      top: 55px;
      left: 25%; }
      body .body .left ul {
        width: 100%;
        height: 100%;
        text-align: left;
        margin-left: 30px;
        list-style: none; }
        body .body .left ul li {
          height: 35px;
          width: 100%;
          line-height: 35px;
          cursor: pointer; }
          body .body .left ul li:hover {
            background-position: 0 0;
            color: #A51E23; }
          body .body .left ul li.profile {
            height: 100px;
            text-align: left; }
            body .body .left ul li.profile img {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 25px;
              left: 25px;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px; }
            body .body .left ul li.profile h1 {
              position: absolute;
              top: 15px;
              right: 25px; }
            body .body .left ul li.profile h2 {
              position: absolute;
              top: 40px;
              right: 30px;
              font-size: 15px; }
              body .body .left ul li.profile h2:before {
                content: '[ ';
                color: #A51E23; }
              body .body .left ul li.profile h2:after {
                content: ' ]';
                color: #A51E23; }
            body .body .left ul li.profile:hover {
              color: #414141; }
    body .body .right {
      width: calc(50% - 250px);
      height: calc(100% - 55px);
      position: absolute;
      top: 55px;
      right: 25%;
      z-index: 100; }

/*# sourceMappingURL=index.css.map */
