@import "settings";

body {
  background-size: 100% 100%;
  position: absolute;
  width: 100%;
  height: 100%;

  .body {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    .head {
      width: 100%;
      height: 47px;
      background: $background;
      border-bottom: 5px solid $red;

      h1 {
        line-height: 50px;
        color: $gray;
        font-size: 20px;
        margin-left: 25%;

        a {
          color: inherit;
          text-decoration: inherit;
        }
      }

      ul {
        position: absolute;
        right: 25%;
        top: 0;
        color: white;

        li {
          float: left;
          list-style: none;
          width: 120px;
          line-height: 50px;
          font-size: 15px;
          text-align: center;

          -webkit-transition-duration: .2s;
          -moz-transition-duration: .2s;
          -ms-transition-duration: .2s;
          -o-transition-duration: .2s;
          transition-duration: .2s;

          a {
            color: inherit;
            text-decoration: inherit;
            display: block;
            z-index: 100;
          }

          &:hover {
            background: $red;

            -webkit-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -ms-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s;
          }
        }
      }
    }

    .left {
      width: 250px;
      height: calc(100% - 55px);
      position: absolute;
      top: 55px;
      left: 25%;

      ul {
        width: 100%;
        height: 100%;
        text-align: left;
        margin-left: 30px;
        list-style: none;

        li {
          height: 35px;
          width: 100%;
          line-height: 35px;
          cursor: pointer;

          &:hover {
            background-position: 0 0;
            color: $red;
          }

          &.profile {
            height: 100px;
            text-align: left;

            img {
              width: 50px;
              height: 50px;
              position: absolute;
              top: 25px;
              left: 25px;
              -webkit-border-radius: 25px;
              -moz-border-radius: 25px;
              border-radius: 25px;
            }

            h1 {
              position: absolute;
              top: 15px;
              right: 25px;
            }

            h2 {
              position: absolute;
              top: 40px;
              right: 30px;
              font-size: 15px;

              &:before {
                content: '[ ';
                color: $red;
              }

              &:after {
                content: ' ]';
                color: $red;
              }
            }

            &:hover {
              color: #414141;
            }
          }
        }
      }
    }

    .right {
      width:calc(50% - 250px);
      height: calc(100% - 55px);
      position: absolute;
      top: 55px;
      right: 25%;
      z-index: 100;
    }
  }
}