body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px; }
  .title h1 {
    margin: 0 0 20px;
    font-size: 48px;
    font-weight: 300; }
  .title span {
    font-size: 12px; }
    .title span .fa {
      color: #A51E23; }
    .title span a {
      color: #A51E23;
      font-weight: 600;
      text-decoration: none; }

.form-module {
  position: relative;
  background: #ffffff;
  max-width: 320px;
  width: 100%;
  border-top: 5px solid #A51E23;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  margin: 0 auto; }
  .form-module .toggle {
    cursor: pointer;
    position: absolute;
    top: -0;
    right: -0;
    width: 30px;
    height: 30px;
    margin: -5px 0 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    -webkit-background-size: 25px 25px;
    background-size: 15px 15px;
    background-position: center;
    overflow: visible;
    background-color: #A51E23;
    background-repeat: no-repeat;
    background-image: url("/img/key.svg"); }
    .form-module .toggle.login {
      background-image: url("/img/login.svg"); }
    .form-module .toggle .tooltip {
      position: absolute;
      top: 5px;
      display: block;
      background: rgba(0, 0, 0, 0.6);
      width: auto;
      padding: 5px;
      font-size: 10px;
      right: -160px;
      line-height: 1;
      text-transform: uppercase; }
      .form-module .toggle .tooltip:before {
        content: '';
        position: absolute;
        top: 5px;
        left: -5px;
        display: block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid rgba(0, 0, 0, 0.6); }
      .form-module .toggle .tooltip.register {
        right: -101px; }
  .form-module .form {
    display: none;
    padding: 40px; }
    .form-module .form:nth-child(2) {
      display: block; }
  .form-module h2 {
    margin: 0 0 20px;
    color: #A51E23;
    font-size: 18px;
    font-weight: 400;
    line-height: 1; }
  .form-module input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; }
    .form-module input:focus {
      border: 1px solid #A51E23;
      color: #333333; }
  .form-module input[type="submit"], .form-module button {
    cursor: pointer;
    background: #A51E23;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    margin: 0;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease; }
    .form-module input[type="submit"]:hover, .form-module button:hover {
      background: #641215; }
    .form-module input[type="submit"].key, .form-module button.key {
      margin: 0 0 20px;
      background: #000000; }
  .form-module input[type="file"] {
    display: none; }
  .form-module .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center; }
    .form-module .cta a {
      color: #333333;
      text-decoration: none; }

/*# sourceMappingURL=login.css.map */
