@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Light.ttf"); }
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif; }

html {
  width: 100%;
  height: 100%;
  position: absolute; }

body {
  background: url("/img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%; }
  body:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(20, 0, 0, 0.5); }
  body .body {
    width: 500px;
    height: 360px;
    background: #F2F2EA;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 150px); }
    body .body .head {
      width: 100%;
      height: 50px;
      position: absolute;
      background: #0D0D0D;
      border-bottom: solid #A51E23 5px; }
      body .body .head h1 {
        line-height: 50px;
        margin-left: 20px;
        color: white; }
        body .body .head h1 a {
          color: inherit;
          text-decoration: inherit; }
    body .body .fields {
      position: absolute;
      top: 55px; }
      body .body .fields input {
        width: 340px;
        left: 50px;
        position: absolute;
        height: 50px;
        font-size: 15px;
        padding: 0 30px;
        background: none;
        border: none;
        border-bottom: 2px solid #b2b2b2;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -ms-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s; }
        body .body .fields input.submit {
          border: none;
          background: #0D0D0D;
          color: white;
          width: 404px;
          height: 54px;
          -webkit-transition-duration: .2s;
          -moz-transition-duration: .2s;
          -ms-transition-duration: .2s;
          -o-transition-duration: .2s;
          transition-duration: .2s; }
          body .body .fields input.submit:hover {
            background: #A51E23;
            border: none;
            -webkit-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -ms-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s; }
          body .body .fields input.submit:focus {
            border: none; }
        body .body .fields input:focus {
          outline-width: 0;
          border-bottom: 2px solid #A51E23;
          -webkit-transition-duration: .3s;
          -moz-transition-duration: .3s;
          -ms-transition-duration: .3s;
          -o-transition-duration: .3s;
          transition-duration: .3s; }
      body .body .fields .username {
        top: 30px; }
      body .body .fields .realname {
        top: 90px; }
      body .body .fields .invitecode {
        top: 150px; }
      body .body .fields .submit {
        top: 220px; }
    body .body .foot {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5px;
      background: #A51E23; }

/*# sourceMappingURL=register.css.map */
