@import "settings";

body {
  background: url('/img/background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: absolute;
  width: 100%;
  height: 100%;

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(20, 0, 0, .5);
  }

  .body {
    width: 500px;
    height: 360px;
    background: #F2F2EA;
    position: absolute;
    left: calc(50% - 250px);
    top: calc(50% - 150px);

    .head {
      width: 100%;
      height: 50px;
      position: absolute;
      background: $background;
      border-bottom: solid $red 5px;

      h1 {
        line-height: 50px;
        margin-left: 20px;
        color: white;

        a {
          color: inherit;
          text-decoration: inherit;
        }
      }
    }

    .fields {
      position: absolute;
      top: 55px;

      input {
        width: 340px;
        left: 50px;
        position: absolute;
        height: 50px;
        font-size: 15px;
        padding: 0 30px;
        background: none;
        border: none;
        border-bottom: 2px solid #b2b2b2;

        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -ms-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;

        &.submit {
          border: none;
          background: $background;
          color: white;
          width: 404px;
          height: 54px;

          -webkit-transition-duration: .2s;
          -moz-transition-duration: .2s;
          -ms-transition-duration: .2s;
          -o-transition-duration: .2s;
          transition-duration: .2s;

          &:hover {
            background: $red;
            border: none;

            -webkit-transition-duration: .2s;
            -moz-transition-duration: .2s;
            -ms-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s;
          }

          &:focus {
            border: none;
          }
        }

        &:focus {
          outline-width: 0;
          border-bottom: 2px solid $red;

          -webkit-transition-duration: .3s;
          -moz-transition-duration: .3s;
          -ms-transition-duration: .3s;
          -o-transition-duration: .3s;
          transition-duration: .3s;
        }
      }

      .username {
        top: 30px;
      }

      .realname {
        top: 90px;
      }

      .invitecode {
        top: 150px;
      }

      .submit {
        top: 220px;
      }
    }

    .foot {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 5px;
      background: $red;
    }
  }
}