$background: #0D0D0D;
$red: #A51E23;
$gray: #d6d6d6;
$darkgray: #676767;

@font-face {
  font-family: "Open Sans";
  src: url('/fonts/OpenSans-Light.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

html {
  width: 100%;
  height: 100%;
  position: absolute;

}
