doctype html
html(lang="de")
    head
        title Dashboard
        link(rel="stylesheet", href="/css/index.css")
        script(src="/js/index.js")
    body
        section.body
            section.head
                h1 <a href="/">schwarzrot<span style="font-size: 15px;">.net</span></a>
                ul.menu
                    li <a href="#">Forum</a>
                    li <a href="#">Blog</a>
                    li <a href="#">Ausloggen</a>
            section.left
                ul.menu
                    li.profile
                        img(src="img/profilepic.png")
                        h1 Karl Marx
                        h2 derkrasse69
                    li Profil
                    li Mailing
                    li Hosting
                    li Einladen
                    li Logs
                    li Spenden
            section.right