doctype html
head
    link(rel="stylesheet", href="/css/login.css")
    link(rel="stylesheet", href="/css/sweetalert.css")
    title Schwarzrot Login

.title
    h1 Registrieren
    span Mit &hearts; gemacht von KommunistInnen für GenossInnen!

.module.form-module
    .toggle
        i.fa.fa-times.fa-pencil
        .tooltip Schlüssel importieren
    .form.register
        h2 Registrieren
        form
            input.username(type='text' placeholder='Benutzername' pattern='[A-Za-z0-9]{5,}' title='Dein Benutername muss mindestens fünf Zeichen lang sein und darf keine Sonderzeichen enthalten.' required)
            input.passphrase(type='password' placeholder='Passphrase' pattern='(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}' title='Deine Passphrase muss mindestens eine Ziffer und einen Großbuchstaben enthalten und muss mindestens acht Zeichen lang sein.' required)
            input.passphrase-repeat(type='password' placeholder='Passphrase wiederholen' required)
            input.invitecode(type="text" placeholder="Invite-Code" required)
            input.register(type="submit", value="Registrieren")
            input.fakesubmit(type="submit", style="display: none;")
    .form.login
        h2 Schlüssel importieren
        form
            input.username(type='text' placeholder='Benutzername')
            button.key(type="button") Schlüssel wählen
            input.login(type="submit", value="Einloggen")
    .cta
        a(href='/') &copy; 2016 | schwarzrot.cc

script(src="/js/jquery-3.0.0.min.js")
script(src="/js/openpgp.min.js")
script(src="/js/sweetalert.min.js")
script(src="/js/register.js")